body {
	padding: 1rem;
	font-family: "Open Sans", var(--fontStack-sansSerif);
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.anchor {
	margin-left: -1.25rem;
}
:hover .anchor {
	display: flex;
	height: 1.25em;
	align-items: center;
}
:hover .anchor .octicon-link:before {
	width: 1rem !important;
	height: 1rem !important;
}

@media (width >= 40rem) {
	body {
		padding: 1rem 1.5rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding-left: unset;
		padding-right: unset;
	}
}

@media print {
	body {
		padding: 0;
	}
	a:hover {
		text-decoration: none;
	}
	.footnotes li:target:before {
		border: none;
		color: var(--fgColor-muted);
	}
	.data-footnote-backref {
		display: none;
	}
}
