@import "@wooorm/starry-night/style/both";
@import "katex/dist/katex-swap.min.css";

body {
	font-family: "Open Sans", var(--fontStack-sansSerif);
	font-size: 1rem;
	padding: 1rem;
	text-wrap: balance;
}

/* body is included to increase specificity */
body img {
	display: block;
}
body table tr:nth-child(2n) {
	background-color: transparent;
}

.note-popup {
	background-color: #181a1b;
	border-radius: 4px;
	border: 1px solid var(--borderColor-default);
	display: none;
	font-size: 0.75rem;
	font-weight: normal;
	height: max-content;
	left: 25%;
	line-height: normal;
	max-width: 20rem;
	padding: 0.5rem 0.75rem;
	position: absolute;
	top: -8px;
	transform: translate(-50%, -100%);
	width: max-content;
}
.note-tooltip {
	background: inherit;
	border-bottom: inherit;
	border-left: inherit;
	bottom: 0;
	height: 0.75rem;
	left: 50%;
	position: absolute;
	transform-origin: 100% 100%;
	transform: rotate(-45deg);
	width: 0.75rem;
	z-index: -1;
}
.note-hover-area {
	bottom: 0;
	height: 0.75rem;
	left: 0;
	position: absolute;
	transform: translateY(100%);
	width: 100%;
}
.note-popup [data-footnote-backref] {
	display: none;
}
:hover + .note-popup,
.note-popup:hover {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.anchor {
	align-items: center;
	display: flex;
	height: 1.25em;
	margin-left: -1.25rem !important;
}
.octicon-link {
	display: flex !important;
}
:hover .anchor .octicon-link:before {
	width: 1rem !important;
	height: 1rem !important;
}

@media (width >= 40rem) {
	body {
		padding: 1rem 1.5rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding-left: unset;
		padding-right: unset;
	}
}

@media print {
	body {
		padding: 0;
	}
	table {
		break-inside: avoid;
	}
	a:hover {
		text-decoration: none;
	}
	.footnotes li:target:before {
		border: none;
		color: var(--fgColor-muted);
	}
	.data-footnote-backref {
		display: none;
	}
}
